<div class="contact_container">

  <div class="columns">

    <div class="left-column">
      <form class="contact" name='form' method="post" action='mailto:yulia.wilcox@gmail.com'>
      <label for="name">Name</label><br>
      <input class='text' name='name' type='text'/>
      <br><br>
      <label for="email">Email</label><br>
      <input class='text' name='email' type='text'/>
      <br><br>
      <label for="phone">Phone</label><br>
      <input class='text' name='phone' type='text'/>
      <br><br>

      <h1>I'm interested in:</h1>
      <label class="checkbox_container">Makeup + hair
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox_container">Makeup
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox_container">Hair
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox_container">Brows
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox_container">Other
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <br><br>

      <label for="message">Message</label><br>
      <textarea class='message' name='message'></textarea>
      <br><br>
      <input class='submit' name='submit' type='submit' value='Submit'/>
      </form>
    </div>

    <div class="right-column">
      <div class="contact">
          <h2 id='phone_no'>(385)207-0534</h2>
      </div>
      <h2 id='email'>yulia.wilcox@gmail.com</h2>

      <div class="social">
        <a class='social pinterest' href='https://www.pinterest.com/juliazinnikova/' target="_blank">
          <img src="/images/pinterest.png" class="pinterest">
        </a>
        <a class='social facebook' href='https://www.facebook.com/hairmuabyyulia/' target="_blank">
          <img src="/images/facebook.png" class="facebook">
        </a>
        <a class='social instagram' href='https://www.instagram.com/hair_by_yulia/' target="_blank">
          <img src="/images/instagram.png" class="instagram">
        </a>
      </div>
    </div>
  </div>

  <div class="message-box">

  </div>
  </div>
</div>
