<footer>
  <div id="foot">

    <div class="contact">
        <h2 id='phone_no'>(385)207-0534</h2>
        <span>||</span>
        <h2 id='email'>yulia.wilcox@gmail.com</h2>
        <br>
    </div>

    <div class="social">
      <a class='social pinterest' href='https://www.pinterest.com/juliazinnikova/' target="_blank">
        <img src="/images/pinterest.png" class="pinterest">
      </a>
      <a class='social facebook' href='https://www.facebook.com/hairmuabyyulia/' target="_blank">
        <img src="/images/facebook.png" class="facebook">
      </a>
      <a class='social instagram' href='https://www.instagram.com/hair_by_yulia/' target="_blank">
        <img src="/images/instagram.png" class="instagram">
      </a>
    </div>

  </div>
</footer>
