<div class="home_container">
  <div class="boxes">
    <div class="portfolio">
      <a ui-sref="portfolio"><img class="portfolio" src='/images/portfolio.png'></a>
    </div>
    <div class="makeup_brushes">
      <a href="#"><img class="makeup_brushes" src='/images/makeupbrushes.png'></a>
    </div>
    <div class='pricing'>
      <a ui-sref="contact"><img class='bookwithme' src='/images/bookwithme.png'></a>
    </div>
    <div class="services_and_pricing">
      <a ui-sref="pricing"><img class="services_and_pricing" src='/images/services_and_pricing.png'></a>
    </div>
  </div>
</div>
