<h1 class='contact_header'>Welcome to my site!</h1>
<div class="home_container">
  <div class="boxes">
    <div class="portfolio">
      <a ui-sref="portfolio"><img class="portfolio" src='/images/portfolio.png'></a>
    </div>
    <div class="makeup_brushes">
      <a href="#"><img class="makeup_brushes" src='/images/makeupbrushes.png'></a>
    </div>
    <div class='pricing'>
      <a ui-sref="contact"><img class='bookwithme' src='/images/bookwithme.png'></a>
    </div>
    <div class="services_and_pricing">
      <a ui-sref="pricing"><img class="services_and_pricing" src='/images/services_and_pricing.png'></a>
    </div>
    <br>
    <div class="aboutme">
      <div class="aboutme-box">
        <h2 class='aboutme-title'>ABOUT ME</h2>
        <br>
        <div class="aboutme-box">
          <p class='aboutme-words'>Hello and Welcome to my website!
            <br>
             My name is Yulia Wilcox and I'm a professional when comes to makeup and hair styles.</p>
          <br>
          <h3>Why did I become a hair and makeup artist?</h3>
          <br>
          <p class='aboutme-words'>I started my career 5 years ago in Kyiv, Ukraine.I remember the exact day. It was the day of my prom and I had an appointment with a makeup artist. Everything start out great. I asked her to bring out my eyes and make my lips nude. Unfortunately, she only made things worse. I had light blue eyeshadow and maroon lips. The makeup was <span style='font-weight: bold'>horrible</span>! I was so shy to tell her the truth, so I paid her and left quickly. When I got home, my mom was in absolute shock at how <span style='font-weight: bold'>awful</span> a job the makeup artist had done. I decided to wash my face and try it myself. After that day, I decided that no girl deserves to ever get a horrible job done on her makeup! That is what inpsired me to become a makeup artist.</p>
          <br>
          <img class='yulia_doing_makeup' src='/images/yulia_doing_makeup.png'>
          <br>
          <h3>My Education</h3>
          <p class='aboutme-words'>I finished private lessons for hairstyling and makeup school in Ukraine. I plan to attend hair and makeup workshops to increase my knowledge. I love learning something new and strive for quality service.</p>
          <br>
          <h3>Makeup I use</h3>
          <p class='aboutme-words'>I only use professional, high-quality makeup such as MAC, Urban Decay, Anastasia Beverly Hills, Atelier and others. It's very important to me that your skin is protected and that you'll be able to wear your makeup for extended periods of time.</p>
          <br>
          <h3>Why should you hire me?</h3>
          <p class='aboutme-words'>I believe that every woman deserves to feel special for her special day! So it's immportant to me that I provide you with the best, high-quality service and help you feel like the most beautiful woman in the whole world! I would love to help you, so please feel free to contact me if you have any questions.</p>
          <img src="/images/Yulia_Wilcox_wordsonly.png" class="Yulia_Wilcox_wordsonly">
        </div>
      </div>
    </div>
  </div>
</div>
