<div class="portfolio_container">
  <div class="portfolio_boxes">

    <a ui-sref='images({Type:"makeup"})' class="makeup-box">
        <img src="/images/makeup1.JPG" class="makeup_folder">
    </a>

    <a ui-sref='images({Type:"hair"})' class="hair-box">
        <img src="/images/hair1.JPG" class="hair_folder">
    </a>

    <a ui-sref='images({Type:"beforeafter"})' class="before-after-box">
        <img src="/images/beforeafter4.jpg" class="beforeafter_folder">
    </a>

    <a ui-sref='images({Type:"brows"})' class="brows-box">
      <div class="brows-box">
        <img src="/images/brows1.jpg" class="brows_folder">
      </div>
    </a>

    <!-- <div class="questions-box">
      Questions?<br>
      <a ui-sref="contact">Click here to contact me!</a>
    </div> -->

  </div>

</div>
