<div class="pricing_container">
  <div class="boxes_and_text">
    <ul class='columns-pricing'>

      <li class='.price_item1'>
        <img class='price_image_box' src='/images/makeup_and_hair.png'>
        <p class='img_desc'>Makeup + Hair - $100
          <br>
          <span class='whitetext'>Trial makeup -$35-40(if you come to me at my place)</span></p>
      </li>

      <li class='.price_item2'>
        <img class='price_image_box' src='/images/makeup.png'>
        <p class='img_desc'>Makeup - $55(with Lashes)
        <br>
        Trial makeup -$35-40(if you come to me at my place)</p>
      </li>

      <li class='.price_item3'>
        <img class='price_image_box' src='/images/hair.png'>
        <p class='img_desc'>Hair Styling $45-75<br>
        Trial Hair Styling $35-55(only if you come to my place)</p>
      </li>

      <li class='.price_item4'>
        <img class='price_image_box' src='/images/brows.png'>
        <p class='img_desc'>Brows-$30
          <br>
          <span class='whitetext'>Trial makeup -$35-40(if you come to me at my place)</span></p>
      </li>

    </ul>
  </div>

</div>
