<div class="reviews_container">
  <div class="review_boxes">
    <div class="reviews">
      <h2 class='reviews-header'>See what others are saying about my work!</h2>
      <br>
      <div class='user1_box'>
        <img class="user1_pic" src="">
        <p>User review here</p>
        <p class='user1'>-User</p>
      </div>
      <br>
      <br>
      <br>
      <div class='user2_box'>
        <img class="user2_pic" ng-src="">
        <p>User review here</p>
        <p class='user2'>-User2</p>
      </div>
    <br>
    <br>
    <br>
    <div class='user3_box'>
      <img class="user3_pic" src="">
      <p>User review here</p>
      <p class='user3'>-User3</p>
    </div>
    <br>
    <input type="text" placeholder="Write a review.." value="">
    <button type="button" name="button">Post</button>
  </div>
</div>
