/*HEADER.HTML*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
/* width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 1000px; */
}

.header_container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: white;
  border-radius: 10px;
  /* border-bottom: 1px solid gray; */
  margin: 5px;
  /* box-shadow: 3px 3px 3px #999;
     -moz-box-shadow: 3px 3px 3px #999;
     -webkit-box-shadow: 3px 3px 3px #999; */
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.logo{
  float: left;
  /* border: 1px solid #D8D8D8; */
  width: 200px;
  length: 200px;
  background-color: white;
  margin: 8px;
}

nav ul {
  margin: 0;
  padding: 75px;
  list-style: none;
  overflow: hidden;
  text-align: center;
  font-family: 'Spectral SC', serif;
}

nav li {
  display: inline-block;
  margin-left: 60px;
  padding-top: 20px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: #444;
  position: absolute;
  top: 0;
  transition: all ease-in-out 350ms;
}

nav a:hover::before {
  width: 100%;
}

/*HOME.HTML*/

div.home_container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

div.boxes {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 1000px;
}

img.portfolio {
  width: 530px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

img.makeup_brushes {
  width: 350px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

img.bookwithme {
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

img.services_and_pricing {
  width: 530px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/*FOOTER.HTML*/
footer {
  width: 100%;
  height: 240px;;
  margin-top: 100px;
  border: 5px solid #E6C9BF;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#foot {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3 {
  color: black;
}

div.social {
  text-decoration: none;
}

a.social {
  margin-right: 15px;
  text-decoration: none;/*gets rid of those annoying underscores next to social media links*/
}

span.doublebar {
  font-size: 50px;
  padding: 20px;
}

div.contact {
  padding-right: 30px;
  margin-top: 20px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 30px;
}

h2#phone_no {
  margin: 10px;
  font-family: monospace;
}

h2#email {
  margin: 10px;
  font-family: monospace;
}

img.pinterest {
  width: 60px;
  height: 60px;
}
img.facebook {
  width: 75px;
  height: 60px;
}
img.instagram {
  width: 65px;
  height: 65px;
}

/*PRICING.HTML*/

.boxes_and_text {
  display: flex;
  /* flex-wrap: wrap; */
  align-content: center;
  justify-content: center;
  text-align: center;
}

.price_image_box {
  height: 200px;
  width: 200px;
  padding: 15px;
  vertical-align: middle;
}

p.img_desc {
  width:auto !important;
  font-size: 23px;
  display: inline-block;
  margin: auto;
  padding: 15px;

}

.whitetext{
  color: white;
}

ul.columns-pricing {
  list-style-type: none;
}

li..price_item1 {

}

li..price_item2 {

}

li..price_item3 {

}

li..price_item4 {

}

/*PORTFOLIO.HTML*/

div.portfolio_container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.makeup-box {
  width: 350px;
  height: 150px;
  margin: 10px;
  border: 1px dotted black;
}

.hair-box {
  width: 350px;
  height: 150px;
  margin: 10px;
  border: 1px dotted black;
}

.before-after-box {
  width: 350px;
  height: 150px;
  margin: 10px;
  border: 1px dotted black;
}

.brows-box {
  width: 350px;
  height: 150px;
  margin: 10px;
  border: 1px dotted black;
}

.questions-box{

}

/*CONTACT.HTML*/
form.contact {
  width: 270px;
  heigh: 605px;
}

span.checkmark {
  padding: 9px;
}

.checkbox_container {
  display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox_container input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    background-color: #eee;
}
.checkbox_container:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkbox_container input:checked ~ .checkmark {
    background-color: #E6C9BF;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contact_container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 1000px;
}

.left-column {
  float: left;
  border-right: 1px solid black;
  padding: 30px;
  margin: 10px;
}

.right-column {
  float: right;
  padding: 30px;
  margin: 10px;
}

label {
  color: black;
}

input.text {
  height: 20px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
}

textarea.message {
  height: 100px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
}

input.submit {
  width: 60px;
  height: 25px;
  background-color: white;
  color: black;
  border: 1px solid #E6C9BF;
  border-radius: 6px;

  transition: all 0.5s;
  transition: 0.5s;
}

input.submit:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

input.submit:hover:after{
  opacity: 1;
  right: 0;
}

input.submit:hover {
  background-color: #E6C9BF;
  color: white;
  padding-left: 3px;
}
